@model IEnumerable<Proyecto_1._0.Models.RequisitoServicioTramite>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Crear Nuevo", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayName("Nombre Servicio")
        </th>
        <th>
            @Html.DisplayName("Nombre Trámite")
        </th>
        <th>
            @Html.DisplayName("Nombre Requisito Trámite")
        </th>
        <th>
            @Html.DisplayName("Es Obligatorio")
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.TipoServicio.nombre_servicio)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TipoTramite.nombre_tramite)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.nombre_req_tramite)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.es_obligatorio)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id=item.id_req_ser }) |
            @Html.ActionLink("Detalles", "Details", new { id=item.id_req_ser }) |
            @Html.ActionLink("Eliminar", "Delete", new { id=item.id_req_ser })
        </td>
    </tr>
}

</table>
