@model IEnumerable<Proyecto_1._0.Models.RequisitoServicioTramite>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.TipoServicio.nombre_servicio)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TipoTramite.nombre_tramite)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.es_obligatorio)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.TipoServicio.nombre_servicio)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TipoTramite.nombre_tramite)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.es_obligatorio)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.id_req_ser }) |
            @Html.ActionLink("Details", "Details", new { id=item.id_req_ser }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.id_req_ser })
        </td>
    </tr>
}

</table>
