@model Proyecto_1._0.Models.TipoServicio

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>TipoServicio</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayName("Nombre Institución")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Instituciones.nombre_institucion)
        </dd>

        <dt>
            @Html.DisplayName("Nombre Servicio")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nombre_servicio)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.id_servicio }) |
    @Html.ActionLink("Back to List", "Index")
</p>
