@model IEnumerable<Proyecto_1._0.Models.TipoTramite>

@{
    ViewBag.Title = "Index";
}

<h2>Catálogo de trámties</h2>

<p>
    @Html.ActionLink("Registrar Nuevo", "Create")
</p>

@using (Html.BeginForm())
{
    <p>
        Buscar por nombre: @Html.TextBox("SearchString")
        <input type="submit" value="Buscar" />
    </p>
}

<table class="table">
    <tr>
        <th>
            @Html.DisplayName("Nombre de la institución")
        </th>
        <th>
            @Html.DisplayName("Nombre del trámite")
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Instituciones.nombre_institucion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.nombre_tramite)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id=item.id_tramite }) |
            @Html.ActionLink("Detalles", "Details", new { id=item.id_tramite }) |
            
        </td>
    </tr>
}

</table>
