@model IEnumerable<Proyecto_1._0.Models.TipoTramite>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Instituciones.nombre_institucion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.nombre_tramite)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Instituciones.nombre_institucion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.nombre_tramite)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.id_tramite }) |
            @Html.ActionLink("Details", "Details", new { id=item.id_tramite }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.id_tramite })
        </td>
    </tr>
}

</table>
