@model Proyecto_1._0.Models.RequisitoTramiteDato

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Estás seguro que deseas eliminar este elemento?</h3>
<div>
    <h4>RequisitoTramiteDato</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayName("Nombre Dato")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TipoDato.nombre_dato)
        </dd>

        <dt>
            @Html.DisplayName("Nombre Trámite")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TipoTramite.nombre_tramite)
        </dd>

        <dt>
            @Html.DisplayName("Nombre")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nombre)
        </dd>

        <dt>
            @Html.DisplayName("Es obligatorio")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.es_obligatorio)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Eliminar" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
