@model IEnumerable<Proyecto_1._0.Models.RequisitoTramiteDato>

@{
    ViewBag.Title = "Index";
}

<h2>Mantenimiento de Requisitos</h2>
<h4>Trámite-Dato</h4>

<p>
    @Html.ActionLink("Registrar Nuevo", "Create")
</p>

@using (Html.BeginForm())
{
    <p>
        Buscar por trámite: @Html.TextBox("SearchString")
        <input type="submit" value="Buscar" />
    </p>
}

<table class="table">
    <tr>
        <th>
            @Html.DisplayName("Nombre del trámite")
        </th>
        <th>
            @Html.DisplayName("Nombre del tipo de dato")
        </th>
        <th>
            @Html.DisplayName("Obligatorio")
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.TipoTramite.nombre_tramite)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TipoDato.nombre_dato)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.es_obligatorio)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id=item.id_req_tra }) |
            @Html.ActionLink("Detalles", "Details", new { id=item.id_req_tra }) |
        </td>
    </tr>
}

</table>
