@model Proyecto_1._0.Models.RequisitoDato

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>RequisitoDato</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TipoDato.nombre_dato)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TipoDato.nombre_dato)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TipoServicio.nombre_servicio)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TipoServicio.nombre_servicio)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.nombre_req_dato)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nombre_req_dato)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.es_obligatorio)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.es_obligatorio)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
