@model Proyecto_1._0.Models.RequisitoDato

@{
    ViewBag.Title = "Detalles";
}

<h2>Details</h2>

<div>
    <h4>RequisitoDato</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayName("Nombre Dato")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TipoDato.nombre_dato)
        </dd>

        <dt>
            @Html.DisplayName("Nombre Servicio")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TipoServicio.nombre_servicio)
        </dd>

        <dt>
            @Html.DisplayName("Nombre Requisito Dato")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nombre_req_dato)
        </dd>

        <dt>
            @Html.DisplayName("Es obligatorio")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.es_obligatorio)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id_req_dato }) |
    @Html.ActionLink("Back to List", "Index")
</p>
