<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="content/menu_dropdown_style.css">
    <title>@ViewBag.Title - Sistema PINTAE</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Styles.Render("~/Content/menu_dropdown_style.css")

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("PINTAE", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div id='cssmenu'>
                <ul>
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li class='active has-sub'>
                        <a href='#'><span>Información sistema</span></a>
                        <ul>
                            <li>@Html.ActionLink("Instituciones", "Index", "Instituciones")</li>
                            <li>@Html.ActionLink("Tipo Servicio", "Index", "TipoServicios")</li>   
                            <li>@Html.ActionLink("Tipo Trámite", "Index", "TipoTramites")</li>   
                            <li>@Html.ActionLink("Tipo Dato", "Index", "TipoDatoes")</li>   
                            <li>@Html.ActionLink("Requisito Servicio Dato", "Index", "RequisitoDatoes")</li>   
                            <li>@Html.ActionLink("Requisito Servicio Trámite", "Index", "RequisitoServicioTramites")</li>
                            <li>@Html.ActionLink("Requisito Trámite Dato", "Index", "RequisitoTramiteDatoes")</li>           
                        </ul>
                    </li>
                    <li>@Html.ActionLink("Acerca", "About", "Home")</li>
                    <li class='last'>@Html.ActionLink("Contacto", "Contact", "Home")></li>
                    <li>@Html.ActionLink("Servicios", "Index", "MostrarRequisitoTramiteDato")</li>
                </ul>
            </div>

        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Instituto Tecnológico de Costa Rica</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
