@model Proyecto_1._0.Models.TipoDato

@{
    ViewBag.Title = "Eliminar";
}

<h2>Delete</h2>

<h3>Estás seguro que deseas eliminar este elemento?</h3>
<div>
    <h4>TipoDato</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayName("Nombre Tipo Dato")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CatalogoTipoDato.nombre_tipo_dato)
        </dd>

        <dt>
            @Html.DisplayName("Nombre Institución")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Instituciones.nombre_institucion)
        </dd>

        <dt>
            @Html.DisplayName("Nombre Dato")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nombre_dato)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Eliminar" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
