@model Proyecto_1._0.Models.TipoDato

@{
    ViewBag.Title = "Detalles";
}

<h2>Mostrar Detalles</h2>

<div>
    <h4>Datos</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayName("Nombre del tipo de dato")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CatalogoTipoDato.nombre_tipo_dato)
        </dd>

        <dt>
            @Html.DisplayName("Nombre de la institución")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Instituciones.nombre_institucion)
        </dd>

        <dt>
            @Html.DisplayName("Nombre del dato")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nombre_dato)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.id_dato }) |
    @Html.ActionLink("Volver", "Index")
</p>
