@model IEnumerable<Proyecto_1._0.Models.TipoDato>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Crear Nuevo", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayName("Nombre Tipo Dato")
        </th>
        <th>
            @Html.DisplayName("Nombre Institución")
        </th>
        <th>
            @Html.DisplayName("Nombre Dato")
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.CatalogoTipoDato.nombre_tipo_dato)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Instituciones.nombre_institucion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.nombre_dato)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id=item.id_dato }) |
            @Html.ActionLink("Detalles", "Details", new { id=item.id_dato }) |
            @Html.ActionLink("Eliminar", "Delete", new { id=item.id_dato })
        </td>
    </tr>
}

</table>
